@charset "UTF-8";

/* bootstrap */
body {font-size:.875rem;}
.feather {width:16px;height:16px;vertical-align:text-bottom;}
/* Sidebar */
.sidebar-sticky {position:-webkit-sticky;position:sticky;top:48px;/* Height of navbar */height:calc(100vh - 48px);padding-top:.5rem;overflow-x:hidden;overflow-y:auto;/* Scrollable contents if viewport is shorter than content. */}
.menu_area .nav-link {font-weight:500;color:#333;}
.menu_area .nav-link .feather {margin-right:4px;color:#999;}
.menu_area .nav-link.active {color:var(--main-color);}
.sidebar .nav-link:hover .feather, .menu_area .nav-link.active .feather {color:inherit;}
.sidebar-heading {font-size:.75rem;}
/* Navbar */
.navbar-brand {padding-top:.75rem;padding-bottom:.75rem;font-size:1rem;background-color:rgba(0, 0, 0, .25);box-shadow:inset -1px 0 0 rgba(0, 0, 0, .25);}
.navbar .form-control {padding:.75rem 1rem;border-width:0;border-radius:0;}
.form-control-dark {color:#fff;background-color:rgba(255, 255, 255, .1);border-color:rgba(255, 255, 255, .1);}
.form-control-dark:focus {border-color:transparent;box-shadow:0 0 0 3px rgba(255, 255, 255, .25);}
/* Utilities */
.border-top {border-top:1px solid #e5e5e5;}
.border-bottom {border-bottom:1px solid #e5e5e5;}

/* common */
.no_btn {color:#333;}
.btn_group {padding:0 10px 10px;}
.table th, .table td {font-size:unset;}
.inBtn {min-width:unset;line-height:unset;font-size:unset;}
.logo > img {width:auto;height:30px;margin:0 20px;}

.table_title {text-align:left;}

.pay_list {border-bottom:1px solid #333;padding:10px 0;box-sizing:border-box;}
.pay_list:first-child {border-top:1px solid #333;}
.pay_thumbnail {display:inline-block;vertical-align:middle;width:210px;}
.pay_thumbnail img {height:200px;width:auto;}
.pay_detail {display:inline-block;vertical-align:middle;width:calc(100% - 230px);margin-left:16px;text-align:left;}
.pay_detail p {line-height:1;}
.pay_detail .pay_title {font-size:2.5em;font-weight:900;}
.pay_detail .pay_title span {border:1px solid #555;box-sizing:border-box;display:inline-block;padding:5px 10px;background-color:#ddd;vertical-align:middle;font-size:0.4em;font-weight:300;}