@charset "UTF-8";

.login_area .divider:after, .login_area .divider:before {content:"";flex:1;height:1px;background:#eee;}
.login_area .h-custom {height:calc(100% - 73px);}
.login_area .inBtn {padding-left:3.5rem;padding-right:3.5rem;background-color:var(--main-color);color:#fff;font-weight:500;}
.login_area .login_err {font-weight:700;color:var(--bs-danger);}
.login_area .footer_area {background-color:var(--main-color);}

.join_area, .join_agree, .join_finish {padding:50px 0;}
.join_area .logo, .join_agree .logo, .join_finish .logo {display:block;}
.join_area .card {border-radius:15px;}
.join_area .no_check {color:red;}
.join_area .no_check {color:red;}
.join_area .info {font-size:12px;}
.join_area #msg {font-size:16px;}
.join_area #id {width:calc(100% - 150px);margin-right:10px;display:inline-block;vertical-align:top;}
.join_area .btn {background-color:var(--main-color);color:#fff;}
.join_area .check_btn {line-height:36px;padding-top:0;padding-bottom:0;vertical-align:top;}
.join_area #address1, .join_area #address2 {margin-bottom:5px;}
.join_area #postcode {width:160px;float:left;margin-right:20px;}
.join_area input::-webkit-input-placeholder {font-size:16px;}
.join_area input:-ms-input-placeholder {font-size:16px;}
.join_agree label {display:block;}
.join_agree .agree_fr {border:2px solid #eee;height:300px;overflow-y:auto;white-space:pre-wrap;padding:24px;}
.join_agree .check_area {margin:20px 0 50px;}
.join_agree #in_btn1 {background-color:var(--main-color);color:#fff;padding:0 3.5rem;line-height:3;}

@media (max-width: 450px) {
    .login_area .h-custom {height:100%;}
}

.sub_content {min-height:70vh;}/* 삭제 예정 */

.sub01 {background:url("../image/sub/sub_visual01.jpg") center center/100% auto no-repeat fixed;padding:5% 0 0;}
.sub01 > h2 {margin-bottom:5%;}
.sub_content {background-color:#fff;}
