@charset "UTF-8";

.login_area .divider:after, .login_area .divider:before {content:"";flex:1;height:1px;background:#eee;}
.login_area .h-custom {height:calc(100% - 73px);}
.login_area .inBtn {padding-left:3.5rem;padding-right:3.5rem;background-color:var(--main-color);color:#fff;font-weight:500;}
.login_area .login_err {font-weight:700;color:var(--bs-danger);}
.login_area .footer_area {background-color:var(--main-color);}

.join_area, .join_agree, .join_finish {padding:50px 0;}
.join_area .logo, .join_agree .logo, .join_finish .logo {display:block;}
.join_area .card {border-radius:15px;}
.join_area .no_check {color:red;}
.join_area .no_check {color:red;}
.join_area .info {font-size:12px;}
.join_area #msg {font-size:16px;}
.join_area #id {width:calc(100% - 150px);margin-right:10px;display:inline-block;vertical-align:top;}
.join_area .btn {background-color:var(--main-color);color:#fff;}
.join_area .check_btn {line-height:36px;padding-top:0;padding-bottom:0;vertical-align:top;}
.join_area #address1, .join_area #address2 {margin-bottom:5px;}
.join_area #postcode {width:160px;float:left;margin-right:20px;}
.join_area input::-webkit-input-placeholder {font-size:16px;}
.join_area input:-ms-input-placeholder {font-size:16px;}
.join_agree label {display:block;}
.join_agree .agree_fr {border:2px solid #eee;height:300px;overflow-y:auto;white-space:pre-wrap;padding:24px;}
.join_agree .check_area {margin:20px 0 50px;}
.join_agree #in_btn1 {background-color:var(--main-color);color:#fff;padding:0 3.5rem;line-height:3;}

@media (max-width:450px) {.login_area .h-custom {height:100%;}
}

.sub_content {min-height:70vh;}/* 삭제 예정 */

.sub01 {background:url("../image/sub/sub_visual01.jpg") center center/100% auto no-repeat fixed;padding:5% 0 0;}
.sub01 > h2 {margin-bottom:5%;}
.sub_content {background-color:#fff;}

.card-deck {display:flex;}
.card-deck > .card {height:400px;margin:0 10px 20px;}
.card-deck > .card > img {height:250px;}

.amountBtnArea {display:inline-block;border:1px solid #333;box-sizing:border-box;}
.amountBtn, .amountText {display:inline-block;height:30px;box-sizing:border-box;text-align:center;line-height:28px;vertical-align:top;}
.amountBtn {width:30px;}
.amountBtn.amountPlus {border-left:1px solid #333;margin-left:-4px;}
.amountBtn.amountMinus {border-right:1px solid #333;}
.amountText {background-color:#efefef;margin-left:-3px;border:none;width:50px;}

.no_buy {font-size:0.8em;color:red;font-weight:200;}

.table_title {text-align:left;}

.pay_list {border-top:2px solid #333;padding:10px 0;box-sizing:border-box;border-bottom:1px solid #333;}
.pay_thumbnail {display:inline-block;vertical-align:middle;width:210px;}
.pay_thumbnail img {height:200px;width:auto;}
.pay_detail {display:inline-block;vertical-align:middle;width:calc(100% - 230px);margin-left:16px;text-align:left;}
.pay_detail p {line-height:1;}
.pay_detail .pay_title {font-size:2.5em;font-weight:900;}
.pay_detail .pay_title span {border:1px solid #555;box-sizing:border-box;display:inline-block;padding:5px 10px;background-color:#ddd;vertical-align:middle;font-size:0.4em;font-weight:300;}

.productDetail .pay_list {border:none;}
.productDetail .pay_detail th {text-align:center;}

.productInfo th {vertical-align:top;}
.productInfo pre {margin-bottom:0;}

.txt_center {text-align:center;}